* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #18342b; */
  background-image: linear-gradient(180deg, #18342b, #224a6e);
}

.navbar {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: rgb(194, 225, 179);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.flag {
  padding: 0;
  margin: 0;
  width: 30px;
}

#om-meg {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 30px;
  color: bisque;
}
#pic {
  width: 20%;
  height: 20%;
  flex-direction: column;
}
#me {
  flex-direction: column;
}
.grid-profile {
  display: inline-grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 10px;
}
.profile {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.box {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.description {
  font-size: 16px;
  margin-bottom: 10px;
}
.icons {
  display: flex;
  justify-content: center;
}
.icons a {
  margin: 0 10px;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen img {
  max-width: 90%;
  max-height: 90%;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-info {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-container {
  flex: 1;
  text-align: right;
}
.quote {
  font-style: italic;
}
